@font-face {
    font-family: 'EKRoumald';
    src: url('./EKRoumald-Bold.ttf')
}

@font-face {
    font-family: 'EKRoumald-Italic';
    src: url('./EKRoumald-BoldItalic.ttf')
}

@font-face {
    font-family: 'Rauschen';
    src: url('./Rauschen-BBook-Desktop.otf')
}

body {
    font-family: 'EKRoumald', serif;
    margin: 0;
    background-color: black;
    color: white;
}

/* INIT ANIMATION */
.logoload {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    display: none;
}

.animation-logo-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.logoload .animation-logo-container img {
    width: 87%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER */
.header--container.desktop {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    color: white;
    z-index: 10;
    transition: top 0.4s ease;
    height: 100px;
}

.header--container.desktop.black {
    background-image: linear-gradient(black 50%, transparent);
    background-image: linear-gradient(rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.3) 55%,
            rgba(0, 0, 0, 0.15) 70%,
            rgba(0, 0, 0, 0.075) 80.5%,
            rgba(0, 0, 0, 0.037) 87.85%,
            rgba(0, 0, 0, 0.019) 90%,
            rgba(0, 0, 0, 0) 100%);
}

.header--container.desktop.up {
    top: -100px;
    transition: top 0.4s ease;
}

.header--container.desktop ul {
    list-style: none;
    margin: 0;
    display: flex;
}

.header--container.desktop a {
    color: white;
    text-decoration: none;
    margin: 0 8px;
    text-transform: uppercase;
    transition: color 0.5s;
}

.header--container.desktop a:hover {
    color: #D4130E;
}

#menu-languages {
    padding-left: 0;
}

#menu-languages li:first-child::after {
    content: "/";
    text-decoration: none;
}

#menu-languages-1 {
    display: flex;
    padding: 30px;
}

#menu-languages-1 li:first-child::after {
    content: "/";
    text-decoration: none;
}

.header--logo--container {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    height: 40px;
}

.header--logo--container .header--logo.dark {
    display: none;
}

.header--container .current_page_item a {
    text-decoration: underline;
    text-underline-offset: 1px;
    font-style: italic;
}

.header--container.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header--container.desktop {
        display: none;
    }

    .header--container.mobile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .mobile-menu-drawer .current-menu-item a {
        text-decoration: underline;
        text-underline-offset: 1px;
        font-style: italic;
    }

    .mobile-menu-drawer .menu li a {
        margin: 0 8px;
    }

    .close-icon-container {
        position: fixed;
        top: 22px;
        right: 22px;
        z-index: 50;
    }

    .close-icon {
        width: 23px;
        height: 23px;
        position: relative;
    }

    .close-icon::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 23px;
        height: 2px;
        background-color: white;
        transition: all 0.5s;
    }

    .close-icon::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 23px;
        height: 2px;
        background-color: white;
        transition: all 0.5s;
    }

    .close-icon.opened::before {
        top: 50%;
        transform: rotate(45deg);
        background-color: black;
    }

    .close-icon.opened::after {
        top: 50%;
        background-color: black;
        transform: rotate(-45deg);
    }
}

/* SLIDER */
.hero-slider {
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero-slider-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    padding: 30px;
    transform: translate(0, -50%);
    cursor: pointer;
}
.hero-slider-arrow.prev {
    left: 10px;
}
.hero-slider-arrow.next {
    right: 10px;
}
.hero--slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}
.carousel--container {
    position: absolute;
    z-index: -1;
}

.carousel__slides {
    display: inline-flex;
    flex-direction: row;
}

.hero-slider__slide {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    transition: opacity 1s;
}

.hero-slider__slide.fade {
    opacity: 0;
    transition: opacity 1s;
}

.hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    z-index: 4;
}

.hero__content p {
    line-height: 120%;
    margin-top: 3px;
}

.hero__content .top--content {
    padding: 30px;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;
}
.hero__content .bottom--content {
    display: flex;
    padding: 30px 38px;
    justify-content: space-between;
    align-items: flex-end;
}
.hero__content .bottom--content p {
    margin: 0;
}

.bottom--content .right--content {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right--content a {
    line-height: 120%;
    color: white;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
}

.bottom--content .center--content {
    display: none;
}

.hero__content a {
    transition: color 0.5s;
    color: white;
    text-decoration: none;
    line-height: 120%;
    font-size: 15px;
}

.hero__content a:hover {
    color: #D4130E;
}

@media only screen and (max-width: 768px) {
    .hero__content .top--content {
        padding-top: 60px;
        font-size: 15px;
    }

    .hero__content .bottom--content {
        justify-content: center;
    }

    .hero__content .bottom--content .left--content {
        display: none;
    }

    .hero__content .bottom--content .right--content {
        display: none;
    }

    .bottom--content .center--content {
        display: block;
    }

        .hero-slider-arrow.prev {
            left: 0px;
        }
    
        .hero-slider-arrow.next {
            right: 0px;
        }
                .hero-slider-arrow {
                    top: unset;
                    bottom: 0px;
                }
}

/* MANIFESTO */
.homepage--manifesto-section {
    text-align: center;
    padding: 160px 15%;
    text-transform: uppercase;
    background-color: black;
}

.homepage--manifesto-section h2 {
    font-size: 15px;
}

.homepage--manifesto-section p {
    font-size: 40px;
    line-height: 95%;
}

.homepage--manifesto-section a {
    font-size: 15px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 0.5s;
}

.homepage--manifesto-section a:hover {
    color: #D4130E;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);

}

@media only screen and (max-width: 1440px) {
    .homepage--manifesto-section p {
        font-size: 34px;
    }
}

@media only screen and (max-width: 768px) {
    .homepage--manifesto-section {
        padding: 60px 30px;
    }

    .homepage--manifesto-section p {
        font-size: 26px;
        margin: 32px 0;
    }
}

/* MENU */
.homepage--menu-section {
    display: flex;
    padding: 30px;
    column-gap: 30px;
    background-color: black;
}

.homepage--menu-section .half--block {
    width: 50%;
    text-align: center;
}

.homepage--menu-section .half--block.text {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage--menu-section .half--block.text h3 {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
}

.homepage--menu-section .half--block.image {
    padding-bottom: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homepage--menu-section .half--block p {
    max-width: 400px;
    margin: 20px auto;
    font-size: 16px;
    line-height: 18px;
}

.homepage--menu-section .half--block a {
    color: white;
    text-transform: uppercase;
}

.homepage--menu-section .open-menu-button {
    cursor: pointer;
}

.homepage--menu-section .logo-small {
    width: 24px;
    height: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.homepage--menu-section .link {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
    transition: color 0.5s;
}

.homepage--menu-section .link:hover {
    color: #D4130E;
}

.vertical--line {
    height: 60%;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}

.logo--homepage-section {
    height: 60vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 270px;
    height: 115px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .homepage--menu-section .half--block.text h3 {
        font-size: 32px;
    }

    .homepage--menu-section {
        flex-direction: column;
        padding: 30px 22px;
    }

    .homepage--menu-section .half--block {
        width: 100%;
    }

    .homepage--menu-section .half--block.image {
        padding-bottom: 140%;
    }

    .homepage--menu-section.vins .half--block.text {
        order: 2;
    }

    .vertical--line {
        display: none;
    }

    .homepage--menu-section .logo-small {
        display: none;
    }

    .footer--container li {
        margin: 8px 0;
    }

    .footer--container li:nth-child(1) {
        order: 5;
    }

    .footer--container li:nth-child(2) {
        order: 1;
    }

    .footer--container li:nth-child(3) {
        order: 3;
    }

    .footer--container li:nth-child(4) {
        order: 2;
    }

    .footer--container li:nth-child(5) {
        order: 4;
    }

    .logo-container {
        width: 220px;
    }

    .logo--homepage-section {
        height: unset;
        padding: 30px 0 110px 0;
    }
}


.mobile-menu-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-align: center;
    text-transform: uppercase;
    width: 0;
    height: 100%;
    overflow: hidden;
}

.mobile-menu-drawer.opened {
    opacity: 1;
    width: 100%;
    right: 0;
    background-color: #D4130E;
    z-index: 20;
}

.mobile-menu-drawer ul {
    list-style: none;
    padding: 0;
}

.mobile-menu-drawer a {
    color: black;
    text-decoration: none;
}
.mobile-menu-drawer .current_page_item a {
    text-decoration: underline;
    text-underline-offset: 1px;
    font-style: italic;
}

.mobile-menu-drawer .menu-laguage-menu-container {
    padding-top: 30px;
}

.mobile-menu-drawer .menu-laguage-menu-container ul {
    display: flex;
}

.mobile-menu-drawer .menu-right-menu-container {
    font-size: 34px;
}

.mobile-menu-drawer .menu-info-container {
    padding-bottom: 40px;
    font-size: 15px;
    line-height: 15px;
}

.menu-info-container p {
    margin: 0;
}

.menu-info-container .logo {
    padding-top: 30px;
}

footer {
    background-color: black;
}

.footer--container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 30px 0;
    margin: 0 30px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid white;
}

.footer--container li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    line-height: 16px;
}

.footer--container a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 120%;
    transition: color 0.5s;
}

.footer--container a:hover {
    color: #D4130E;
}

.footer--container a.side-links {
    font-family: 'Rauschen', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.footer--container .logo-small {
    width: 60px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .footer--container ul {
        flex-direction: column;
        padding: 80px 0;
    }

    .footer--container li .logo-small {
        margin: 30px 0;
    }

    .footer--container a.side-links {
        font-size: 12px;
    }
}

/* MENU POPUP */
.open--menu-button {
    text-decoration: underline;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-underline-offset: 3px;
}

.menu--popup {
    width: 0;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    transition: opacity 0.5s;
}

.popup--overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close-icon--menu {
    position: absolute;
    top: 32px;
    right: 40px;
    cursor: pointer;
    z-index: 2;
}

.close-icon--menu:hover line {
    transition: stroke 0.5s;
}

.close-icon--menu:hover line {
    stroke: #D4130E;
}

.menu-popup--title {
    padding: 30px 0;
    margin: 0;
}

.menu--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu--pdf {
    border: 0;
    height: 80vh;
    width: 60vw
}

.prev--button {
    padding: 40px;
    cursor: pointer;
    transition: color 0.5s;
}

.prev--button:hover {
    color: #D4130E;
}

.next--button {
    padding: 40px;
    cursor: pointer;
    transition: color 0.5s;
}

.next--button:hover {
    color: #D4130E;
}

.menu--pagination {
    padding: 30px;
}

.menu-slider {
    height: 80vh;
    width: 65%;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

.menu-slider::-webkit-scrollbar {
    display: none;
}

.menu_slider_slide {
    height: 100%;
    padding-left: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.menu_slider_slide:nth-child(even) {
    background-position: right;
}

.menu_slider_slide:nth-child(odd):not(.cover--slide) {
    background-position: left;
}

.menu_slider_slide.fade {
    opacity: 0;
}

.menu_slider_slide.cover--slide {
    padding-left: 100%;
    background-size: contain;
}

.menu--slider-scroll {
    height: 100%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .prev--button {
        position: absolute;
        padding: 0;
        bottom: 30px;
        left: 20px;
    }

    .next--button {
        position: absolute;
        padding: 0;
        bottom: 30px;
        right: 20px;
    }

    .close-icon--menu {
        top: 20px;
        right: 20px;
    }

    .menu-popup--title {
        padding: 40px 0 20px;
    }

    .menu-slider {
        height: 70vh;
        width: 90%;
        margin: auto;
        overflow-x: scroll;
    }
}

.reservations--section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 10;
    display: none;
}

.iframe--container {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.iframe--container #reservations-iframe {
    height: 580px;
    width: 620px;
}

.iframe--container body {
    background-color: transparent;
}

#modal-wrapper {
    background-color: transparent;
}

body.theme-dark .header--container.desktop,
body.theme-dark .header--container.desktop a,
body.theme-dark .hero__content,
body.theme-dark .hero__content a,
body.theme-dark .hero-slider-arrow {
    color: #000;
}

body.theme-dark .header--logo--container .header--logo:not(.dark) {
    display: none;
}
body.theme-dark .header--logo--container .header--logo.dark {
    display: block;
}